/*Index*/

#menuprinci{
    background-color: rgba(63, 1, 45, 0.355);
}
#menuprinci ul li a{
    color:  rgba(5, 4, 4, 0.814);
    font-size: 25px;
}
body{
    background-color: rgb(255, 255, 255);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;

}

#tituloo{
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    
}


.banner-princi{
    background-color: rgba(230, 68, 68, 0.164);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 1000px;
    height: 300px;
    
}

#catalogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}









.recarga-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.bille-total{
    text-align: center;
}

#pagarServicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



{}